In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("shopeep_koreantop_clothing_shop_data.csv")
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [2]:
#Lọc bộ dữ liệu từ hàng 200-645 và chỉ lấy những cột "name","join_day","follower_count"
#Nếu chúng ta lấy dữ liệu trực tiếp df[dòng start:dòng end:bước nhảy][["tt1","tt2"]]
df[["name","join_day","follower_count"]][200:645]

#Lọc bộ dữ liệu, chỉ lấy index lẻ và lấy những cột "rating_good", "pk_shop", "join_year"
df[["rating_good","pk_shop","join_year"]][1::2]

     rating_good            pk_shop  join_year
1           2656  20210613314198143       2020
3          18959   2021061321407329       2017
5              2  20210613430999411       2021
7          22350  20210613126018720       2019
9         217241   2021061336754442       2017
..           ...                ...        ...
737           36  20210706416886409       2021
739        55669   2021070664360491       2018
741           32  20210706449182992       2021
743          463  20210706360379308       2020
745       708666   2021070625811092       2017

[373 rows x 3 columns]

In [9]:
df[['name','join_day','follower_count']].filter([2,5,6,7,10], axis=0).reset_index()

   index                      name  join_day  follower_count
0      2             R&O RedOrange        27          660417
1      5             Bellamy House        26              41
2      6   Yihua Women's Wear Hall        17           30480
3      7  croptop korean top dress        12           72704
4     10                88jackshop        14            2413

In [8]:
#Lọc bộ dữ liệu với dòng 2,5,6,7,10 và cột "name", "join_day","follower_count"
#df.loc[[2,5,6,7,10],["name", "join_day", "follower_count"]]
#df.filter([2,5,6,7,10], axis = 0)[["name","join_day","follower_count"]]
df[["name","join_day","follower_count"]].filter([2,5,6,7,10],axis = 0 ).reset_index()

   index                      name  join_day  follower_count
0      2             R&O RedOrange        27          660417
1      5             Bellamy House        26              41
2      6   Yihua Women's Wear Hall        17           30480
3      7  croptop korean top dress        12           72704
4     10                88jackshop        14            2413

In [10]:
#Sếp giao xuống có 5 phần thưởng cho 5 công ty (rating_good > 500000 | follower_count > 1000000) & rating_star > 4.9
df[((df["rating_good"]>500000) | (df["follower_count"]>1000000)) & (df["rating_star"]>4.9)]

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
172,2021062110377223,2021-06-21,10377223,R&O RedOrange,September,27,2016,214,681865,08:35:13,90,"Pasay City,Metro Manila",4794,1107287,18584,4.91,1,0
531,2021062810377223,2021-06-28,10377223,R&O RedOrange,September,27,2016,220,700559,08:31:53,89,"Pasay City,Metro Manila",4912,1132607,19069,4.91,1,0
723,2021070610377223,2021-07-06,10377223,R&O RedOrange,September,27,2016,225,718371,08:27:54,89,"Pasay City,Metro Manila",5002,1153298,19431,4.91,1,0

In [11]:
#Sếp giao xuống có 5 phần thưởng cho 5 công ty (rating_good > 500000 | follower_count > 1000000) & rating_star > 4.9
#df[((df["rating_good"]>500000) | (df["follower_count"]>1000000)) & (df["rating_star"]>4.9)].filter(["name","join_day","follower_count"],axis = 1).reset_index()
#df[dòng][[cột]]
df[((df["rating_good"]>500000) | (df["follower_count"]>1000000)) & (df["rating_star"]>4.9)][["name","join_day","follower_count"]]

              name  join_day  follower_count
2    R&O RedOrange        27          660417
172  R&O RedOrange        27          681865
531  R&O RedOrange        27          700559
723  R&O RedOrange        27          718371

In [12]:
#Phép toán tử so sánh: ==, !=, >, < ,>=,<= 
#Phép toán logic: and &, or | , not ~ 
#Lọc dữ liệu với query 
#df.query("(Tên_cột_1 PTSS giá_trị_1) PTLG (Tên_cột_n PTSS giá_trị_n)")
#Query nếu chúng ta define giá trị là object dạng chuỗi, thì phải để dấu nháy đơn '' thay vì dấu nháy kép để Python phân biệt
df.query("(name == 'R&O RedOrange')") #Sửa dấu nháy của RedOrgange thành nháy kép để thấy sự khác biệt

#Hãy lấy ra những shop có (tháng tham gia(join_month) == September hoặc item_count> 200) và follower_count > 500000
#Đối với query, tổng tất cả những điều kiện đều được bọc trong dấu ngoặc kép ""
df.query("((join_month == 'September') | (item_count >200)) & (follower_count>500000)")

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
17,2021061320477406,2021-06-13,20477406,PinSan UnderWear,April,17,2017,215,517911,08:05:48,94,"Binondo,Metro Manila",7797,608451,24896,4.81,1,0
34,2021061319100527,2021-06-13,19100527,Mumu,March,28,2017,293,1616152,10:13:24,75,"Valenzuela City,Metro Manila",21494,3296136,61481,4.89,1,0
42,2021061341311013,2021-06-13,41311013,BuyMorePh,November,2,2017,346,1126855,08:25:22,84,"Pasig City,Metro Manila",60527,903333,89238,4.49,0,0
150,2021061325811092,2021-06-13,25811092,angelcity.💋,June,17,2017,249,826733,09:48:26,31,"Pasay City,Metro Manila",12714,663959,28901,4.77,0,0
162,2021061346399675,2021-06-13,46399675,ABUBOT_PH,December,5,2017,420,1899961,10:27:14,61,"Pasig City,Metro Manila",100153,1938488,146220,4.58,0,0
168,2021061355748694,2021-06-13,55748694,SS Swim Shop Fashion,February,7,2018,387,1507685,10:37:11,81,"Taytay,Rizal",23375,1158282,58979,4.75,0,0
172,2021062110377223,2021-06-21,10377223,R&O RedOrange,September,27,2016,214,681865,08:35:13,90,"Pasay City,Metro Manila",4794,1107287,18584,4.91,1,0
183,2021062155748694,2021-06-21,55748694,SS Swim Shop Fashion,February,7,2018,314,1535441,10:13:49,81,"Taytay,Rizal",24115,1192269,60709,4.75,0,0
195,2021062120477406,2021-06-21,20477406,PinSan UnderWear,April,17,2017,217,524899,08:05:03,94,"Binondo,Metro Manila",7992,620347,25459,4.80,1,0
198,2021062125587666,2021-06-21,25587666,Kily.Ph Online,June,15,2017,326,1172325,12:02:33,73,"Taytay,Rizal",16183,877459,40603,4.77,1,0
201,2021062119100527,2021-06-21,19100527,Mumu,March,28,2017,296,1640368,10:12:48,74,"Valenzuela City,Metro Manila",21703,3339616,62398,4.89,1,0
210,2021062149776252,2021-06-21,49776252,Wallet,December,26,2017,372,837038,11:56:51,83,"Quezon City,Metro Manila",40184,2156674,84929,4.79,0,0
213,20210621144287446,2021-06-21,144287446,DVX Divisoria Extension,May,3,2019,1585,528163,09:40:33,86,"Caloocan City,Metro Manila",5468,890508,15482,4.90,0,0
246,2021062141311013,2021-06-21,41311013,BuyMorePh,November,2,2017,350,1156124,08:31:09,84,"Pasig City,Metro Manila",61440,927482,91025,4.49,0,0
266,2021062146399675,2021-06-21,46399675,ABUBOT_PH,December,5,2017,422,1937979,10:15:58,55,"Pasig City,Metro Manila",101304,2004249,149128,4.58,0,0
304,2021062157235917,2021-06-21,57235917,INSPI,February,19,2018,650,776110,08:15:20,100,"Quezon City,Metro Manila",5123,659093,14751,4.88,0,1
343,2021062125811092,2021-06-21,25811092,angelcity.💋,June,17,2017,253,841621,09:46:46,29,"Pasay City,Metro Manila",13024,682209,29746,4.77,0,0
364,2021062819100527,2021-06-28,19100527,Mumu,March,28,2017,303,1659792,10:15:51,77,"Valenzuela City,Metro Manila",21877,3374104,62998,4.89,1,0
450,20210628144287446,2021-06-28,144287446,DVX Divisoria Extension,May,3,2019,1575,537356,09:41:53,87,"Caloocan City,Metro Manila",5599,907602,15802,4.90,0,0
457,2021062886411248,2021-06-28,86411248,EMILI-Y & U-VY FASHION,August,27,2018,694,502760,08:43:49,97,"Las Pinas City,Metro Manila",10874,851747,32693,4.81,0,0
461,2021062841311013,2021-06-28,41311013,BuyMorePh,November,2,2017,354,1181347,08:32:54,85,"Pasig City,Metro Manila",62235,947273,92488,4.50,0,0
479,2021062857235917,2021-06-28,57235917,INSPI,February,19,2018,610,788398,08:15:07,100,"Quezon City,Metro Manila",5230,675204,15040,4.88,0,1
495,2021062825811092,2021-06-28,25811092,angelcity.💋,June,17,2017,258,854216,09:52:57,32,"Pasay City,Metro Manila",13236,697397,30410,4.77,0,0
521,2021062846399675,2021-06-28,46399675,ABUBOT_PH,December,5,2017,426,1972718,10:13:05,64,"Pasig City,Metro Manila",102120,2061341,151387,4.59,0,0
525,2021062816590993,2021-06-28,16590993,Adol Janet,February,14,2017,473,507817,12:59:26,74,"Binondo,Metro Manila",2500,294224,9546,4.84,0,0
526,2021062836754442,2021-06-28,36754442,KathrynClothing,September,30,2017,528,502467,10:00:53,88,"Taytay,Rizal",4716,230278,10716,4.76,0,0
528,2021062855748694,2021-06-28,55748694,SS Swim Shop Fashion,February,7,2018,300,1561698,10:07:06,84,"Taytay,Rizal",24730,1226236,62218,4.75,0,0
531,2021062810377223,2021-06-28,10377223,R&O RedOrange,September,27,2016,220,700559,08:31:53,89,"Pasay City,Metro Manila",4912,1132607,19069,4.91,1,0
542,2021070646399675,2021-07-06,46399675,ABUBOT_PH,December,5,2017,430,2039888,10:20:00,68,"Pasig City,Metro Manila",102833,2105670,153076,4.59,0,0
570,2021070619100527,2021-07-06,19100527,Mumu,March,28,2017,309,1683907,10:19:30,74,"Valenzuela City,Metro Manila",21997,3403406,63473,4.89,1,0
579,2021070641311013,2021-07-06,41311013,BuyMorePh,November,2,2017,359,1237032,08:39:13,86,"Pasig City,Metro Manila",62901,964970,93686,4.50,0,0
644,2021070636754442,2021-07-06,36754442,KathrynClothing,September,30,2017,544,518437,10:06:34,90,"Taytay,Rizal",4800,235687,10965,4.76,0,0
682,2021070686411248,2021-07-06,86411248,EMILI-Y & U-VY FASHION,August,27,2018,706,511309,08:44:36,98,"Las Pinas City,Metro Manila",10988,864941,33005,4.81,0,0
723,2021070610377223,2021-07-06,10377223,R&O RedOrange,September,27,2016,225,718371,08:27:54,89,"Pasay City,Metro Manila",5002,1153298,19431,4.91,1,0
733,2021070655748694,2021-07-06,55748694,SS Swim Shop Fashion,February,7,2018,306,1590378,10:01:49,85,"Taytay,Rizal",25325,1256252,63486,4.75,0,0
740,2021070616590993,2021-07-06,16590993,Adol Janet,February,14,2017,473,513469,12:55:27,78,"Binondo,Metro Manila",2506,297528,9597,4.84,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

In [13]:
#GROUPBY
#dataFrame.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()
#Tính tổng số lượng rating_bad, rating_good, và follower_count của tất cả các chi nhánh cho từng tên shop
df.groupby("name")["rating_good","rating_bad","follower_count"].sum().sort_values("follower_count", ascending = False)
#sort_values("sắp xếp trên cột nào",ascending = False có nghĩa là không tăng dần)
df["LuongTuongTac"] = df["rating_bad"] + df["rating_good"] + df["rating_normal"]
df[df["LuongTuongTac"] >1000000][["name","follower_count","LuongTuongTac"]].sort_values("LuongTuongTac",ascending = False)

C:\Users\TANPHA~1\AppData\Local\Temp/ipykernel_16644/2842847423.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("name")["rating_good","rating_bad","follower_count"].sum().sort_values("follower_count", ascending = False)

                     name  follower_count  LuongTuongTac
570                  Mumu         1683907        3488876
364                  Mumu         1659792        3458979
201                  Mumu         1640368        3423717
34                   Mumu         1616152        3379111
542             ABUBOT_PH         2039888        2361579
521             ABUBOT_PH         1972718        2314848
210                Wallet          837038        2281787
266             ABUBOT_PH         1937979        2254681
162             ABUBOT_PH         1899961        2184861
733  SS Swim Shop Fashion         1590378        1345063
528  SS Swim Shop Fashion         1561698        1313184
183  SS Swim Shop Fashion         1535441        1277093
168  SS Swim Shop Fashion         1507685        1240636
723         R&O RedOrange          718371        1177731
531         R&O RedOrange          700559        1156588
172         R&O RedOrange          681865        1130665
579             BuyMorePh         1237032        1121557
461             BuyMorePh         1181347        1101996
2           R&O RedOrange          660417        1094549
246             BuyMorePh         1156124        1079947
42              BuyMorePh         1126855        1053098

In [14]:
#Tạo một cột dựa trên điều kiện sử dụng numpy.where
#df['rate'] = np.where(df['rating_good'] >= 50000,'good','bad' )
#Nếu một cửa hàng có rating_good > 500000 và follower_count > 1000000 thì họ được xếp loại Michellin, còn lại xếp loại bình thường
df["XepLoai"] = np.where((df["rating_good"]>500000) & (df["follower_count"]>1000000),"Michellin","BinhThuong")
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,LuongTuongTac,XepLoai
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0,18420,BinhThuong
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,2932,BinhThuong
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,1094549,BinhThuong
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0,19218,BinhThuong
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,42315,BinhThuong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0,32,BinhThuong
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0,10,BinhThuong
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0,495,BinhThuong
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,109231,BinhThuong
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,752866,BinhThuong

In [15]:
#Thêm cột mới theo multiple conditions(nhiều điều kiện)
#Ví dụ: Thêm cột flag tặng cờ cho các cửa hàng, flag nhận các giá trị như sau:
# 	blue khi rating_good >= 30000 và rating_bad <= 100
# 	yellow khi 10000 <= rating_good < 30000 và 100 < rating_bad <= 1000
# 	red khi rating_good < 10000
#	black đối với các trường hợp còn lại.
#Cách thực thi chuẩn khi dùng np.select()
conditions = [(df["rating_good"] >= 300000) & (df["rating_bad"]<= 100),
             (df["rating_good"]<30000) & (10000<= df["rating_good"]) &(100<df["rating_bad"]) & (df["rating_bad"]<=1000),
             (df["rating_good"]<10000)]
choices = ["blue","yellow","red"]
df["flag"] = np.select(conditions,choices,default = "black")
df

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,...,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,LuongTuongTac,XepLoai,flag
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,...,NaN,181,17510,729,4.81,1,0,18420,BinhThuong,yellow
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,...,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,2932,BinhThuong,red
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,...,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,1094549,BinhThuong,black
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,...,"Binondo,Metro Manila",44,18959,215,4.94,1,0,19218,BinhThuong,black
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,...,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,42315,BinhThuong,black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,...,"Legazpi City,Albay",0,32,0,5.00,0,0,32,BinhThuong,red
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,...,NaN,1,9,0,4.60,0,0,10,BinhThuong,red
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,...,NaN,16,463,16,4.75,1,0,495,BinhThuong,red
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,...,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,109231,BinhThuong,black
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,...,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,752866,BinhThuong,black